body{
    font-family: 'Poppins', sans-serif !important;
    /* background-color: #A73FFA; */
}
.header{
    height: 100vh;
    background: linear-gradient(to right bottom, rgba(132, 79, 238, 0.529), rgba(132, 79, 238, 0.529)), url('../images/photo-1528489496900-d841974f5290.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-heading h1{
    font-size: 30px;
    font-weight: 600;
    color: #FD387C;
} 
.main-heading p{
    font-size: 20px;
    font-weight: 400;
}
.main-heading button{
    padding: 15px 30px;
    /* background-color: #661dcc; */
    background-color: #FD387C;
    border-radius: 25px;
    border: none;
    border: 1px solid white;
}
.main-heading button a{
   color: white !important;
   text-decoration: none;
   font-size: 16px;
}

/* cards section */
.card{
    background-color:rgba(132, 79, 238, 0.529);
}
.card:hover{
    background-color:blueviolet;
}
.card-img {
    height: 350px;
    width: 100%;
    overflow: hidden;
    background-position: center;
    position: relative;
    z-index: 1;
}
.card-img img{
   height: 100%;
   width: 100%;
   position: relative;
   bottom: 0;
}

.card-text{
    position: absolute;
    padding: 15px 10px;
    color: white;
    text-decoration: none;
    z-index: 4;
    background-color:rgba(253, 56, 125, 0.75);
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.card-link{
    text-decoration: none;
}

/* musical-memories */
.musical-memories{
    height: 50vh;
    background: linear-gradient(to right bottom, rgba(132, 79, 238, 0.629), rgba(132, 79, 238, 0.629)), url('../images/IMG_1439.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-heading h2{
    font-size: 40px;
    font-weight: 600;
    color: #FD387C;
}

.about-img{
    border-radius: 12px;
    padding: 10px;
    border: 2px solid #FD387C;
}
/* footer */
.footer{
    min-height: 300px;
    background: linear-gradient(to right bottom, rgba(132, 79, 238, 0.929), rgba(132, 79, 238, 0.929)), url('../images/Concert2.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-heading a{
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
    color: #FD387C !important;
    text-decoration: none;
}
.input{
    position: relative;
    width: 85%;
}
.input input{
    border: none;
    color: black;
    font-size: 14px;
    padding: 7px 20px;
    border-radius: 10px;
    width: 85%;
}
.input input:hover{
    outline: none;
}
.fa-magnifying-glass{
    color: #FD387C;
    position: absolute;
    top: 10px;
    right: 40px;
}














.w-500{
    font-weight: 500 !important;
}
.w-600{
    font-weight: 600 !important;
}
.f-17{
    font-size: 17px;
}
.f-20
{
    font-size: 20px;
}
.f-25{
    font-size: 25px;
}
.f-30{
    font-size: 30px;
}
.clr-pink{
    color: #FD387C;
}
.no-decoration{
    text-decoration: none;
}
.no-decoration2{
    text-decoration: none;
}
.no-decoration:hover{
    border-bottom: 1px dotted #FD387C;
}